
/*
   owsiak, erik
*/


body {
   background-color: rgb(248, 246, 245);
}

/*div.page-frame {
   width: 550px;
   height: 200px;
   margin: 2vh auto;
   border: 4px solid rgb(9, 9, 138);
   border-radius: 1vh;
   background-image: url(/imgs/qumerki1100x400.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}*/

div.page-head {
   width: 550px;
   height: 200px;
   margin: 8vh auto 0 auto;
   border: 4px solid rgb(9, 9, 138);
   border-radius: 1vh;
   background-image: url(/imgs/qumerki1100x400.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

div.input-forms {
   width: 500px;
   margin: 4vh auto;
}

/* div.input-line {
} */

div.top-menu {
   width: 550px;
   height: 8vh;
   line-height: 8vh;
   text-align: center;
   margin: 4vh auto;
}

div.btn {
   display: inline-block;
   border: 2px solid rgb(9, 9, 138);
}

div.login, div.register {
   height: 4vh;
   line-height: 4vh;
   padding: 0 2vw;
   border: 2px solid rgb(9, 9, 138);
   border-radius: 4vh;
}

div.login {
   margin-right: 0.6vw;
}

div.register {
   margin-left: 0.6vw;
}

/* div.login:hover, div.register:hover {
   cursor: pointer;
} */

div.btn {
   cursor: pointer;
}

div.btn.clicked {
   border-width: 3px;
   background-color: rgb(228, 228, 240);
}

div.input-forms input {
   width: 82%;
   font-size: 2.8vh;
   padding: 8px;
   border: 1px solid #565363;
   border-radius: 8px;
}

div.input-line {
   margin: 2vh auto;
   text-align: center;
}

div.btn-login, div.btn-register {
   font-size: 3.2vh;
   padding: 4px 12px;
   border: 2px solid rgb(9, 9, 138);
   border-radius: 8px;
}
