
body {
   background-color: rgb(238, 238, 238);
}

/*div.page-frame {
   width: 550px;
   height: 200px;
   margin: 2vh auto;
   border: 4px solid rgb(9, 9, 138);
   border-radius: 1vh;
   background-image: url(/imgs/qumerki1100x400.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}*/

div.page-head {
   width: 550px;
   height: 200px;
   margin: 8vh auto 0 auto;
   border: 4px solid rgb(9, 9, 138);
   border-radius: 1vh;
   background-image: url(/imgs/qumerki1100x400.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
}

div.inputs {
   width: 500px;
   margin: 4vh auto;
}

div.input-line {
}

div.top-menu {
   width: 550px;
   height: 8vh;
   line-height: 4vh;
   margin: 1vh auto;
}

div.btn {
   display: inline-block;
   border: 2px solid rgb(9, 9, 138);
}

div.login, div.register {
   height: 4vh;
   line-height: 4vh;
   padding: 0 2vw;
   border: 2px solid rgb(9, 9, 138);
   border-radius: 4vh;
}
